.container{
    width: 100%;
    /* height: 100%; */
    border: 2px solid rgb(228, 50, 50);
    background: #fafcff 0% 0% no-repeat padding-box;
}

.box{
    display: flex;
    justify-content: center;
    margin: 25px;
    opacity: 0.7;
}


.navBox{
    display: flex;
    justify-content: space-around;
}

hr{
    margin: 20x;
    height: 2px
}

.view{
    display: flex;
    margin: 0 0% 0 10%;
}
.leftBox{
 width: 50%;
 font-size: 1.2rem;
}
.btn{
    top: 564px;
    left: 121px;
    width: 247px;
    height: 65px;
    font-size: 1.2rem;
    color: white;
    background: #1492E6 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 33px;
    opacity: 1;
}

.rightBox{
    margin-left: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Second page */
.secondPage h1{
    /* align-items: center; */
    text-align: center;
    margin: 10%;
}
.spageBox{
    display: flex;
    justify-content: space-around;
    margin: 0 5% 0 5%;
} 
.spageBox .card-title{
    font-size: 1.5rem;
}
.spageBox .card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 18px;
    opacity: 1;
    border: 1px solid black;
    text-align: center;
    padding: 1.2rem;
    font-size: 1.3rem;
}


/* Third page */
.tpageBox{
    display: flex;
    justify-content: space-around;
    margin: 0 5% 0 5%;
} .thirdPage h1{
    /* align-items: center; */
    text-align: center;
    margin: 10%;
}